 <!-- Footer -->
 <footer class="footer fondo text-center" id="footer">
    <div class="container">
      <div class="row">

        <!-- Footer Location -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Ubicación</h4>
          <a class="btn btn-outline-light btn-social mx-1" href="https://www.google.com/maps/dir/39.6200779,-0.4219455/clinica+veterinaria+colinas+de+san+antonio" target="_blank">
            <img class="img-fluid pequeña" src="assets/img/maps.png" alt="">
          </a>
          <p class="lead mb-0">C/ Cadernera 1 local 12
            <br>Colinas de San Antonio, CP 46184</p>
        </div>

        <!-- Footer Social Icons -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Nuestras redes</h4>
          <a class="btn btn-outline-light btn-social mx-1" href="#" target="_blank">
            <i class="fab fa-fw fa-facebook-f"></i>
          </a>
        <!--   <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-twitter"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-linkedin-in"></i>
          </a> -->
          <a class="btn btn-outline-light btn-social mx-1" href="https://www.instagram.com/delicatdogs/"  target="_blank">
            <i class="fab fa-fw fa-instagram"></i>
          </a>
        </div>

        <!-- Footer About Text -->
        <div class="col-lg-4">
          <h4 class="text-uppercase mb-4">HORARIO</h4>
          <p class="lead mb-0">L-V: 10:00-14:00 & 17:00-20:00
            <p class="lead mb-0"> Sábados: 11:00-13:00
            
        </div>

      </div>
    </div>
  </footer>
