<section class="page-section" id="contact">
  <div class="container">
      <!-- Contact Section Heading-->
      <div class="text-center">
          <h2 class="page-section-heading text-secondary d-inline-block mb-0">CONTACTO</h2>
      </div>
      <!-- Icon Divider-->
      <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon">
            <img class="img-fluid pequeña" src="assets/img/huella-perro.jpg" alt="">
          </div>
          <div class="divider-custom-line "></div>
      </div>
      <!-- Contact Section Content-->
      <div class="row justify-content-center  marginBottom">
          <div class="col-lg-4">
              <div class="d-flex flex-column align-items-center">
                  <div class="icon-contact mb-3"><i class="fas fa-mobile-alt"></i></div>
                  <div class="text-muted">Phone</div>
                  <div class="lead font-weight-bold">961 351 190 - 646 298 342</div>
                  
              </div>
          </div>
          <div class="col-lg-4">
              <div class="d-flex flex-column align-items-center">
                  <div class="icon-contact mb-3"><i class="far fa-envelope"></i></div>
                  <div class="text-muted">Email</div><a class="lead font-weight-bold black" href="mailto:delicatdogs@gmail.com">delicatdogs@gmail.com</a>
              </div>
          </div>
      </div>
  </div>
</section>